.modal-content {
  max-width: 60%;
  max-height: 60%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  border-radius: 8px;
  margin: 16px;
}

.img {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 16px;
}
/* .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
} */
